<div class="cols col_50">
  <table class="meta">
    <tr>
      <th colspan="2"><%= t('.phone_numbers') %></th>
    </tr>
    <% if person.phone_numbers.present? %>
      <% person.phone_numbers.map {|pn| exhibit(pn, self)}.each do |phone_number| %>
        <tr>
          <td class="meta_name"><%= t('g.' + (phone_number.location || 'mobile')) %>:</td>
          <td class="meta_data"><%= phone_number.to_s %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2"><%= link_to(t('.add_phone_number'), @contact ? edit_contact_path(@contact) : edit_person_path(person)) %></td>
      </tr>
    <% end %>
  </table>
  <% if person.twitter_accounts.present? || person.facebook_account || person.linkedin_accounts.present? %>
    <table class="meta">
      <tr>
        <th colspan="2"><%= _('Social:') %></th>
      </tr>
      <% if person.twitter_accounts.present? %>
        <tr>
          <td class="meta_name"><a href="" class="icos ico_twitter"></a></td>
          <td class="meta_data"><%= person_exhibit.twitter_handles %></td>
        </tr>
      <% end %>
      <% if person.facebook_account %>
        <tr>
          <td class="meta_name"><a href="" class="icos ico_fb"></a></td>
          <td class="meta_data"><%= link_to(person_exhibit.to_s, "http://facebook.com/profile.php?id=#{person.facebook_account.remote_id}", target: '_blank') %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
<div class="cols col_50">
  <table class="meta">
    <tr>
      <th colspan="2"><%= t('g.email') %></th>
    </tr>
    <% if person.email_addresses.present? %>
      <% person.email_addresses.each do |email| %>
        <% email = exhibit(email, self) %>
        <tr>
          <td class="meta_name"><%= t('g.primary') if email.primary? %></td>
          <td class="meta_data"><%= email %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2"><%= link_to(t('.add_email_address'), @contact ? edit_contact_path(@contact) : edit_person_path(person)) %></td>
      </tr>
    <% end %>

  </table>
</div>
<div class="clr"></div>