<div class="field email_field" data-behavior="field-wrapper">
  <div class="ls"><%= builder.label :email, _('Email') %></div>
  <div class="rs">
    <%= builder.email_field :email %>
    <div class="field_action">
      <%= builder.check_box :primary, class: 'primary' %>
      <%= builder.label :primary %>
      <%= link_to_remove_fields(builder) %>
    </div>
    <div class="field_action">
      <%= builder.check_box :historic, class: 'email_historic' %>
      <%= builder.label :historic, "Email address no longer valid" %>
    </div>
  </div>
</div>
