<div class="sfield inside_person" data-behavior="field-wrapper add-wrapper">
  <% person = builder.object %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="col_50 cols">
    <div class="fieldset_label">
      <%= _('Basic Information') %>
    </div>

    <div class="field">
      <%= builder.label :first_name %>
      <%= builder.text_field :first_name, class: 'first_name' %>
    </div>
    <div class="field">
      <%= builder.label :last_name %>
      <%= builder.text_field :last_name, class: 'last_name' %>
    </div>
    <div class="field">
      <%= builder.label :legal_first_name %>
      <%= builder.text_field :legal_first_name %>
    </div>
    <div class="fieldset">
      <div class="field">
        <%= builder.label :title %>
        <%= builder.select :title, Person::TITLES.collect {|t| _(t)}, include_blank: true %>
      </div>
      <div class="field">
        <%= builder.label :suffix %>
        <%= builder.select :suffix, Person::SUFFIXES.collect {|t| _(t)}, include_blank: true %>
      </div>
    </div>
    <div class="fieldset">
      <div class="field radiocheck">
        <%= builder.radio_button :gender, 'male' %> <%= builder.label :gender_male, _('Male') %>
      </div>
      <div class="field radiocheck">
        <%= builder.radio_button :gender, 'female' %> <%= builder.label :gender_female, _('Female') %>
      </div>
    </div>
    
    <div class="fieldset">
      <div class="field radiocheck">
        <%= builder.check_box :deceased %>
        <%= builder.label :deceased, _('Deceased') %>
      </div>
    </div>

    <div class="field">
      <%= builder.label :birthday %>
      <%= builder.select :birthday_month, t('date.month_names')[1..-1].collect.with_index {|m, i| [m,i + 1]}, include_blank: true %>
      <%= builder.select :birthday_day, (1..31).to_a, include_blank: true %>
      <%= builder.select :birthday_year, Time.now.year.downto(1900).to_a, include_blank: true %>
    </div><br />
    <div class="field">
      <%= builder.label :marital_status %>
      <%= builder.select :marital_status, Person::MARITAL_STATUSES.collect {|t| _(t)}, include_blank: true %>
    </div><br />

    <div class="field">
      <%= builder.label :anniversary %>
      <%= builder.select :anniversary_month, t('date.month_names')[1..-1].collect.with_index {|m, i| [m,i + 1]}, include_blank: true %>
      <%= builder.select :anniversary_day, (1..31).to_a, include_blank: true %>
      <%= builder.select :anniversary_year, Time.now.year.downto(1900).to_a, include_blank: true %>
    </div>
    <div class="spacer"></div>
    <% if builder.options[:parent_builder] && builder.options[:parent_builder].object.is_a?(Contact) %>
      <%= link_to_remove_fields(builder) %>
    <% end %>
  </div>

  <div class="col_50 cols">


    <div class="fieldset">
      <div class="field_action optout_enewsletter"<% if @contact.send_newsletter.blank? || @contact.send_newsletter == "Physical" %> style="display:none;"<% end %>>
        <%= builder.check_box :optout_enewsletter %>
        <%= builder.label :optout_enewsletter, "Opt-out of email newsletter" %>
      </div>
      <label class="fieldset_label"><%= _('Email') %></label>
      <%= builder.fields_for :email_addresses do |builder| %>
        <%= render 'people/email_address_fields', builder: builder, object: person %>
      <% end %>
      <div class="sfield field_indent" data-behavior="add-wrapper">
        <%= link_to_add_fields(_('Add Email Address'), builder, :email_addresses, partial: 'people/email_address_fields') %>
      </div>

    </div>

    <div class="spacer"></div>

    <div class="fieldset">
      <label class="fieldset_label"><%= _('Phone') %></label>
      <%# person.phone_numbers.build if person.phone_numbers.blank? %>
      <%= builder.fields_for :phone_numbers do |pf| %>
        <%= render 'people/phone_number_fields', builder: pf, object: person %>
      <% end %>
      <div class="sfield field_indent" data-behavior="add-wrapper">
        <%= link_to_add_fields(_('Add Phone Number'), builder, :phone_numbers, partial: 'people/phone_number_fields') %>
      </div>

    </div>

    <div class="spacer"></div>

    <div class="fieldset">
      <label class="fieldset_label"><%= _('Social') %></label>
      <% %w[facebook twitter linkedin].each do |network| %>
        <% relationship = person.send(:"#{network}_accounts") %>
        <%= builder.fields_for :"#{network}_accounts" do |pf| %>
          <%= render "people/#{network}_account_fields", builder: pf, object: person %>
        <% end %>
        <div class="sfield field_indent" data-behavior="add-wrapper">
          <%= link_to_add_fields(_("Add %{network} Account").localize % { network: network }, builder, :"#{network}_accounts", partial: "people/#{network}_account_fields") %>
        </div>

        <hr class="thin"/>

      <% end %>
    </div>

    <div class="spacer"></div>

    <div class="fieldset">
      <label class="fieldset_label"><%= _('Picture') %></label>
      <%= builder.fields_for :pictures do |builder| %>
        <%= render 'people/picture_fields', builder: builder, object: person %>
      <% end %>
      <div class="sfield field_indent" data-behavior="add-wrapper">
        <%= link_to_add_fields(_('Add Picture'), builder, :pictures, partial: 'people/picture_fields') %>
      </div>

    </div>

    <div class="spacer"></div>
    <% if (current_account_list.contacts - [person]).present? %>
      <div class="fieldset">
        <label class="fieldset_label">Relationships</label>
        <%# person.family_relationships.build if person.family_relationships.blank? %>
        <%= builder.fields_for :family_relationships do |builder| %>
          <%= render 'people/family_relationship_fields', builder: builder, object: person %>
        <% end %>
      </div>
      <div class="sfield" data-behavior="add-wrapper">
        <div class="ls"></div>
        <div class="rs">
          <%= link_to_add_fields(_('Add Relationship'), builder, :family_relationships, partial: 'people/family_relationship_fields') %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="clr"></div>
</div>
