<div class="field phone_field" data-behavior="field-wrapper">
  <div class="ls"><%= builder.label :number, _('Number') %></div>
  <div class="rs">
    <%= builder.phone_field :number %>
    <%= builder.select :location, PhoneNumber::LOCATIONS.collect { |s| [_(s), s.downcase] } %>
    <div class="field_action">
      <%= builder.check_box :primary, class: 'primary' %>
      <%= builder.label :primary %>
      <%= link_to_remove_fields(builder) %>
    </div>
  </div>
</div>
