<div class="field picture_field" data-behavior="field-wrapper">
  <% if builder.object.new_record? %>
    <div class="ls"><%= builder.label :image, _('Picture') %></div>
    <div class="rs">
      <%= builder.file_field :image %>
      <%= builder.hidden_field :image_cache %>
      <div class="field_action">
        <%= builder.check_box :primary, class: 'primary' %>
        <%= builder.label :primary %>
        <%= link_to_remove_fields(builder) %>
      </div>
    </div>
  <% else %>
    <div class="ls">
      <%= image_tag(builder.object.image.url(:square)) %>
    </div>
    <div class="rs">
      <div class="field_action">
        <%= builder.check_box :primary, class: 'primary' %>
        <%= builder.label :primary %>
        <%= link_to_remove_fields(builder) %>
      </div>
    </div>
  <% end %>
</div>
<div class="clr"></div>
