<%= form_for(task) do |f| %>

  <%= render 'tasks/fields', task: task, f: f %>

  <div style="<%= params[:contact_id] ? 'display:none' : '' %>">
    <% task.activity_contacts.build if task.activity_contacts.blank? %>
    <%= f.fields_for :activity_contacts do |builder| %>
      <%= render 'activities/activity_contact', builder: builder, object: task, no_remove: task.activity_contacts.length <= 1 %>
    <% end %>
    <div class="sfield field_indent">
      <div class="rs"><%= link_to_add_fields(t('.add_contact'), f, :activity_contacts, partial: 'activities/activity_contact') %></div>
    </div>
  </div>


  <div class="spacer"></div>

  <div class="actions">
    <%= f.submit task.completed? ? _('Log Task') : _('Save Task'), :class => "btn" %>
    <%= link_to _('Cancel'), tasks_path, :class=> "btn" %>
  </div>

<% end %>
