<div id="task_result_modal" style="display:none">
  <%= form_for Task.new, remote: true, namespace: 'task_result' do |f| %>
    <%= _('Result') %>
    <%= f.select :result, f.object.assignable_results.collect { |s| [_(s), s] } %>
    <%= f.hidden_field :starred %>
    <%= f.hidden_field :completed, value: false%>
  <% end %>
</div>
