<aside id="leftmenu">
<ul>
  <li class="<%= 'selected' if params[:action] == 'index' %>"><%= link_to(_('Active/Upcoming'), tasks_path, class: "inbox menu_item") %></li>
  <li class="<%= 'selected' if params[:action] == 'starred' %>"><%= link_to(_('Starred'), starred_tasks_path, class: "starred menu_item") %></li>
  <li class="<%= 'selected' if params[:action] == 'history' %>"><%= link_to(_('History'), history_tasks_path, class: "completed menu_item") %></li>
  <%= render 'sidebar_tags', tags: current_account_list.activity_tags if current_account_list.activity_tags.present? %>
  <li>
    <span class="left_filters menu_item"><%= _('Filters') %></span>
    <%= form_tag params.slice(:controller, :action), method: :get do %>
      <ul class="left_filters">
        <% if params[:action] == 'history' %>
          <li>
            <label><%= _('Date Range') %></label>
            <div class="collapse">
              <%= radio_button_tag 'filters[date_range]', 'last_week', filters_params[:date_range].blank? || filters_params[:date_range] == 'last_week' %> <%= _('Last Week') %><br />
              <%= radio_button_tag 'filters[date_range]', 'last_month', filters_params[:date_range] == 'last_month'  %> <%= _('Last 31 Days') %><br />
              <%= radio_button_tag 'filters[date_range]', 'last_year', filters_params[:date_range] == 'last_year'  %> <%= _('Last 12 Months') %><br />
              <%= radio_button_tag 'filters[date_range]', 'last_two_years', filters_params[:date_range] == 'last_two_years'  %> <%= _('Last Two Years') %><br />
              <%= radio_button_tag 'filters[date_range]', 'all', filters_params[:date_range] == 'all'  %> <%= _('All') %><br />
            </div>
          </li>
        <% end %>
        <li>
          <label><%= _('Tags') %></label>
          <div class="collapse" style="<%= 'display:none' unless filters_params[:tags] %>">
            <%= select_tag 'filters[tags]', options_for_select([[_('-- Any --'), '']] + current_account_list.activity_tags, filters_params[:tags]), multiple: true, size: 5 %>
          </div>
        </li>
        <li>
        <label><%= _('Action') %></label>
          <div class="collapse" style="<%= 'display:none' unless filters_params[:activity_type] %>">
            <%= select_tag 'filters[activity_type]', options_for_select([[_('-- Any --'), '']] + (Task.new.assignable_activity_types & current_account_list.tasks.select(:activity_type).uniq.collect(&:activity_type)).collect { |a| [_(a), a] }, filters_params[:activity_type]), multiple: true, size: 5 %>
          </div>
        </li>
        <li>
          <label><%= _('Contact') %></label>
          <div class="collapse" style="<%= 'display:none' unless filters_params[:contact_ids] %>">
            <%= select_tag 'filters[contact_ids]', options_for_select([[_('-- Any --'), '']] + all_contacts.collect { |c| [c.name, c.id] }, filters_params[:contact_ids]), multiple: true, size: 5 %>
          </div>
        </li>
        <li class="controls">
          <%= submit_tag _('Apply Filters') %>
          <%= link_to(_('Reset Filters'), tasks_path(clear_filter: true), style: 'font-size: 11px') %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>
</aside>

