<aside id="leftmenu">
<ul>
  <li class="<%= 'selected' if params[:action] == 'index' %>"><%= link_to('Active/Upcoming', tasks_path, class: "inbox") %></li>
  <li class="<%= 'selected' if params[:action] == 'starred' %>"><%= link_to("Starred", starred_tasks_path, class: "starred") %></li>
  <li class="<%= 'selected' if params[:action] == 'completed' %>"><%= link_to("Completed", completed_tasks_path, class: "completed") %></li>
  <li class="<%= 'selected' if @tags %>">
    <span class="tags"><%= _('Tags') %></span>
    <ul class="left_taglist tags">
      <li>
        <% current_account_list.activity_tags.each do |tag| 
          # toggle tag on / off
          tag_params = params.except(:action, :controller)
          if @tags && @tags.include?(tag)
            tag_params[:tags] = (@tags - [tag]).join(',')
          else
            tag_params[:tags] = (Array.wrap(@tags) + [tag]).join(',')
          end
          tag_params.delete(:tags) if tag_params[:tags].blank? %>

          <%= link_to(tag, tag_params, class: "tag #{'selected' if @tags && @tags.include?(tag)}")%>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
</aside>

