<%= render 'sidebar' %>
<div id="contentbody" class="withleft">
  <div class="wpp">

    <h1></h1>

    <table class="tablelist">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= _('Contact') %></th>
          <th><%= _('Date') %></th>
          <th><%= _('Time') %></th>
          <th><%= _('Type') %></th>
          <th><%= _('Result') %></th>
          <th><%= _('Description') %></th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @tasks.each do |task| 
          task_exhibit = exhibit(task) %>
          <tr id="<%= dom_id(task) %>">
            <td>
              <input type="checkbox" data-behavior="complete_task" data-id="<%= task.id %>" <%= 'disabled="disabled"' if task.attempted? %> <%= 'checked="checked"' if task.completed? %> />
              <%= form_for task, remote: true, namespace: dom_id(task) do |f| %>
                <%= f.hidden_field :completed, value: false %>
              <% end %>
            </td>
            <td><%= task_exhibit.contact_links %></td>
            <td><%= task_exhibit.date %></td>
            <td><%= task_exhibit.time %></td>
            <td><%= _(task_exhibit.activity_type) %></td>
            <td>
              <% if task.attempted? %>
                <%= link_to(_(task_exhibit.result), new_task_path(from: task.id), title: _('Click here to reschedule this task'), class: 'tooltipsy') %>
              <% else %>
                <%= _(task_exhibit.result) %>
              <% end %>
            </td>
            <td><%= task_exhibit %></td>
            <td>
              <div class="actions">
                <%= link_to(_('Edit'), edit_task_path(task), :class=> "ico ico_edit") %>
                <%= link_to(_('Delete'), task, confirm: t('g.confirm'), method: :delete, :class=> "ico ico_trash") %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
