<%= render 'sidebar' %>
<div id="contentbody" class="withleft">
  <div class="wpp">

    <h1></h1>

    <% if @overdue.length > 0 %>
      <table>
        <thead>
          <tr class="taskgroup red">
            <td><input type="checkbox" class="select_all" /></td>
            <td>
              <%= render 'actions' %>
              <%= _('Overdue') %>
            </td>
          </tr>
        </thead>

        <tbody class="tablelist tasks">
          <%= render partial: 'task', collection: @overdue %>
        </tbody>
      </table>
    <% end %>

    <% if @today.length > 0 %>
      <br /><br />
      <table>
        <thead>
          <tr class="taskgroup green">
            <td><input type="checkbox" class="select_all" /></td>
            <td>
              <%= render 'actions' %>
              <%= _('Today') %>
            </td>
          </tr>
        </thead>

        <tbody class="tablelist tasks">
          <%= render partial: 'task', collection: @today %>
        </tbody>
      </table>
    <% end %>

    <% if @tomorrow.length > 0 %>
      <br /><br />
      <table>
        <thead>
          <tr class="taskgroup orange">
            <td><input type="checkbox" class="select_all" /></td>
            <td>
              <%= render 'actions' %>
              <%= _('Tomorrow') %>
            </td>
          </tr>
        </thead>

        <tbody class="tablelist tasks">
          <%= render partial: 'task', collection: @tomorrow %>
        </tbody>
      </table>
    <% end %>

    <% if @upcoming.length > 0 %>
      <br /><br />
      <table>
        <thead>
          <tr class="taskgroup gray">
            <td><input type="checkbox" class="select_all" /></td>
            <td>
              <%= render 'actions' %>
              <%= _('Upcoming') %>
            </td>
          </tr>
        </thead>

        <tbody class="tablelist tasks">
          <%= render partial: 'task', collection: @upcoming %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
<%= render 'tasks/results_modal' %>

<div id="edit_task_modal" title="<%= _('Blank fields will not be updated') %>" style="display:none">
  <div class="form_wrapper">
    <%= render 'tasks/modal_form' %>
  </div>
</div>

