<% 
  first_donation = current_account_list.donations.select('donation_date').last
  if(first_donation)
    first_donation_date = first_donation.donation_date
    @time_span = ((Date.today.end_of_month - first_donation_date).to_f / 30).floor
    @time_span = 12 if @time_span > 12
    @time_span = 1 if @time_span < 1
  else
    @time_span = 1
  end
  @by_month = current_account_list.donations.where("donation_date >= ?", @time_span.months.ago.utc.beginning_of_month).group_by {|r| r.donation_date.beginning_of_month}
   @by_month_index = @time_span.downto(0).collect {|i| i.months.ago.to_date.beginning_of_month}

   pledges = current_account_list.total_pledges.to_i
   total = 0
   @by_month.each { |month| month[1].each { |d| total += d.amount if d.donation_date < Date.today.beginning_of_month } }
   monthly_average = (total / @time_span).to_i
   plot_line_values = [pledges, current_account_list.monthly_goal, monthly_average] %>


<script type="text/javascript" charset="utf-8">
  var months_to_dates = <%== @time_span.downto(0).collect {|i| i.months.ago.to_date.beginning_of_month}.to_json %>;
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: 'donations_summary_chart',
        height: 250
      },
      colors: [
        '#DB843D',
        '#4572A7',
        '#89A54E',
        '#AA4643',
        '#80699B',
        '#3D96AE',
        '#92A8CD',
        '#A47D7C',
        '#B5CA92'
      ],
      title: {
          text: '<span style="color:#007398"><%= _('Pledges:') %> <%= number_to_current_currency(pledges) %></span> | ' +
                '<span style="color:#3eb1c8"><%= _('Monthly Goal:') %> <%= number_to_current_currency(current_account_list.monthly_goal) %></span> | ' +
                '<span style="color:#666062"><%= _('Monthly Average:') %> <%= number_to_current_currency(monthly_average) %></span>',
          useHTML: true,
          style: {
            fontSize: '12px'
          }
      },
      xAxis: {
        categories: [
          <%== @time_span.downto(0).collect {|i| l(i.months.ago.to_date, format: :month_abbrv).inspect}.join(",\n") %>
        ]
      },
      yAxis: {
        min: 0,
        max: <%= plot_line_values.max * 1.1 %>,
        title: {
          text: '<%= _('Amount (%{currency})').localize % {currency: current_currency} %>'
        },
        plotLines: [{
          value: <%= pledges %>,
          width: 2,
          color: "#007398"
        },{
          value: <%= current_account_list.monthly_goal %>,
          width: 2,
          color: "#3eb1c8"
        },{
          value: <%= monthly_average %>,
          width: 2,
          color: "#666062"
        }]
      },
      tooltip: {
        formatter: function() {
          var s = '<b>'+ this.x +'</b>';

          $.each(this.points, function(i, point) {
            s += '<br/>'+ point.series.name +': '+
                  point.y +
                  '<br/><%= _('Percentage of goal') %>: '+
                  Math.round(Number(point.y) / <%= current_account_list.monthly_goal %> * 100) + '%'+
                  '<br/><%= _('Percentage of average') %>: '+
                  Math.round(Number(point.y) / <%= monthly_average + 0.1 %> * 100) + '%';
          });
          return s;
        },
        shared: true
      },
      plotOptions: {
        column: {
          pointPadding: 0.2,
          borderWidth: 0
        },
        series: {
            cursor: 'pointer',
            events: {
                click: function(event) {
                  document.location = '/donations?start_date=' + months_to_dates[event.point.x]
                }
            }
        }
      },
      series: [{
        name: '<%= _('Donations') %>',
        data: [<%= @by_month_index.collect {|month| @by_month[month] || []}.collect {|v| v.sum(&:amount)}.join(',') %>],
        type: 'column'
      }]
    });
  });
</script>
