<% start_date = 1.week.ago.beginning_of_week %>
<% end_date = 1.week.ago.end_of_week %>
<h2><%= _('Week of %{date1} to %{date2}') % {date1: l(start_date.to_date), date2: l(end_date.to_date)} %></h2>
<strong><%#= _('Support Raised:') %></strong>
<%#= number_to_current_currency(current_account_list.total_pledges) %>
<%#= _(' / month') %>

<strong><%= _('Phone Dials:') %></strong>
<ul>
  <li>
    <%= _('Completed:') %> 
    <%= current_account_list.tasks.of_type('Call')
                            .with_result('Done')
                            .completed_between(start_date, end_date)
                            .count %>
  </li>
  <li>
    <%= _('Attempted:') %> 
    <%= current_account_list.tasks.of_type('Call')
                            .with_result('Attempted')
                            .completed_between(start_date, end_date)
                            .count %>

  </li>
  <li>
    <%= _('Received:') %> 
    <%= current_account_list.tasks.of_type('Call')
                            .with_result('Received')
                            .completed_between(start_date, end_date)
                            .count %>
  </li>
</ul>

<strong><%= _('Appointments:') %></strong>
<ul>
  <li>
    <%= _('Completed:') %> 
    <%= current_account_list.tasks.of_type('Appointment')
                            .with_result('Done')
                            .completed_between(start_date, end_date)
                            .count %>
  </li>
  <li>
    <%= _('Attempted:') %> 
    <%= current_account_list.tasks.of_type('Appointment')
                            .with_result('Attempted')
                            .completed_between(start_date, end_date)
                            .count %>

  </li>
  <li>
    <%= _('Received:') %> 
    <%= current_account_list.tasks.of_type('Appointment')
                            .with_result('Received')
                            .completed_between(start_date, end_date)
                            .count %>
  </li>
</ul>
<%#Appointments - completed, set up, group mtg%>

<%#Emails - sent, received%>

<%#FB MSG - sent, received%>

<%#Hours on electronic contacts%>

<%#Snail Mail - pre-call letters, support letters, thank you, reminders.%>
