<div>
  <div style="float:left"><%= link_to(_('<< Previous Week'), progress_home_path(start_date: @start_date - 1.week), remote: true, class: 'no-new-tab') %></div>
  <% unless @end_date >= Date.today %>
    <div style="float:right"><%= link_to(_('Next Week >>'), progress_home_path(start_date: @start_date + 1.week), remote: true, class: 'no-new-tab') %></div>
  <% end %>
</div>
<div class="clr"></div>
<h2><%= _('Week of %{date1} to %{date2}').localize % {date1: l(@start_date.to_date), date2: l(@end_date.to_date)} %></h2>
<% if current_user.organization_accounts.detect {|oa| oa.organization_id == 48} %>
  <%= link_to('Click here to go to the weekly report form for coaches', 'https://staffweb.cru.org/mpd-donations/reports/mpd-weekly-update/index.htm', target: '_blank') %>
  <br /><br />
<% end %>

<strong><%= _('Phone Dials:') %></strong>
<ul>
  <li>
    <%= _('Completed:') %>
    <%= current_account_list.tasks.of_type('Call')
                            .with_result(['Completed'])
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
  <li>
    <%= _('Attempted:') %>
    <%= current_account_list.tasks.of_type('Call')
                            .with_result(['Attempted - Left Message', 'Attempted'])
                            .completed_between(@start_date, @end_date)
                            .count %>

  </li>
  <li>
    <%= _('Received:') %>
    <%= current_account_list.tasks.of_type('Call')
                            .with_result(['Received', 'Received - Complete - Call Again', 'Received - Appointment Scheduled', 'Received - Partner - Financial', 'Received - Partner - Special', 'Received - Partner - Pray', 'Received - Ask in Future', 'Received - Not Interested'])
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
</ul>

<strong><%= _('Appointments:') %></strong>
<ul>
  <li>
    <%= _('Completed:') %>
    <%= current_account_list.tasks.of_type('Appointment')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
  <li>
    <%= _('Set up:') %>
    <%= current_account_list.tasks.of_type('Appointment')
                            .uncompleted
                            .created_between(@start_date, @end_date)
                            .count %>

  </li>
</ul>

<strong><%= _('Emails:') %></strong>
<ul>
  <li>
    <%= _('Sent:') %>
    <%= current_account_list.tasks.of_type('Email')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
  <li>
    <%= _('Received:') %>
    <%= current_account_list.tasks.of_type('Email')
                            .with_result('Received')
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
</ul>

<strong><%= _('Facebook Message:') %></strong>
<ul>
  <li>
    <%= _('Sent:') %>
    <%= current_account_list.tasks.of_type('Facebook Message')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
  <li>
    <%= _('Received:') %>
    <%= current_account_list.tasks.of_type('Facebook Message')
                            .with_result('Received')
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
</ul>

<strong><%= _('Snail Mail:') %></strong>

<ul>
  <li>
    <%= _('Pre-call Letters:') %>
    <%= current_account_list.tasks.of_type('Pre Call Letter')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>
  </li>
  <li>
    <%= _('Support Letters:') %>
    <%= current_account_list.tasks.of_type('Support Letter')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>

  </li>
  <li>
    <%= _('Thank you notes:') %>
    <%= current_account_list.tasks.of_type('Thank')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>

  </li>
  <li>
    <%= _('Reminder Letters:') %>
    <%= current_account_list.tasks.of_type('Reminder Letter')
                            .with_result('Done')
                            .completed_between(@start_date, @end_date)
                            .count %>

  </li>

</ul>

