<div id="contentbody">
  <div class="wpp">
    <h1><%= _('Hi') %> <%= current_user.first_name %>! <span class="smallhead"><%= _("Here's whats happening...") %></span></h1>

    <% if current_account_list.monthly_goal.present? %>
      <% cache(['donations_summary_chart', current_account_list], expires_in: 24.hours) do %>
        <div id="donations_summary_chart">

        </div>
        <%= render 'donations_summary_chart' %>
      <% end %>
    <% else %>
      <%= link_to(preferences_path(:focus => "preference_set_monthly_goal")) do %>
        <div class="mwrap">
          <div class="nohide floating info">
            <%= _('Click here to set your monthly goal, after which we will show you a pretty graph of your donations') %>
          </div>
        </div>
      <% end %>
    <% end %>

    <div id="dash-tabs" class="tabgroup">
      <ul>
        <li class="killround"><a href="#dash-connect"><%= _('Connect') %></a></li>
        <li class="killround"><a href="#dash-care"><%= _('Care') %></a></li>
        <li class="killround"><a href="#dash-cultivate"><%= _('Cultivate') %></a></li>
        <li class="killround"><a href="#dash-progress"><%= _('Progress') %></a></li>
        <% if current_account_list.tester %>
          <li class="killround"><a href="#dash-appeals"><%= _('Appeals') %></a></li>
        <% end %>
      </ul>

      <div id="dash-connect" ng-controller="taskShortListController" ng-init="init('top5','')">
        <table class="list tasklist">
          <tr task="task" ng-repeat="task in tasks" id="task_{{task.id}}"></tr>
        </table>
        <div class="seemore">
          <%= link_to(_('See All'), tasks_path) %>
        </div>
      </div>
      <div id="dash-care"></div>
      <div id="dash-cultivate"></div>
      <div id="dash-progress"></div>
      <% if current_account_list.tester %>
        <div id="dash-appeals"><p><appeals-list></appeals-list></div>
      <% end %>

    </div>

  </div>
</div>
<task-followup-dialog id="task-followup-dialog"></task-followup-dialog>
<%= render 'tasks/results_modal' %>