<%= render 'settings_sidebar' %>
<div id="contentbody" class="withleft">
  <div class="wpp">

    <div class="network_connect">
      <table>
        <tr>
          <td class="identify">
            <% if current_account_list.mail_chimp_account %>
              <% if current_account_list.valid_mail_chimp_account %>
                <div class="statusIcon statusIcon-enabled">&nbsp;</div>
              <% else %>
                <div class="statusIcon statusIcon-error">&nbsp;</div>
              <% end %>
            <% else %>
              <div class="statusIcon statusIcon-disabled">&nbsp;</div>
            <% end %>
            <div class="network_logo">
              <%= image_tag("logos/mailchimp_logo.png", alt: 'MailChimp') %>
            </div>

          </td>
          <td class="connections">
            <div class="network_button">
              <% if current_account_list.valid_mail_chimp_account %>
                <%= link_to(_('Settings'), mail_chimp_accounts_path, :class => "btn") %>
                <%= link_to(_('Sync Now'), sync_mail_chimp_accounts_path, :class => "btn") %>
              <% else %>
                <%= link_to(_('Enable'), new_mail_chimp_account_path, :class => "btn") %>
              <% end %>

            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="network_connect">
      <table>
        <tr>
          <td class="identify">
            <% if current_account_list.prayer_letters_account %>
              <% if current_account_list.valid_prayer_letters_account %>
                <div class="statusIcon statusIcon-enabled">&nbsp;</div>
              <% else %>
                <div class="statusIcon statusIcon-error">&nbsp;</div>
              <% end %>
            <% else %>
              <div class="statusIcon statusIcon-disabled">&nbsp;</div>
            <% end %>
            <div class="network_logo">
              <%= image_tag("logos/prayer_letters_logo.png", alt: 'Prayer Letters') %>
            </div>

          </td>
        <td class="connections">
          <div class="network_button">
            <% if current_account_list.valid_prayer_letters_account %>
              <%#= link_to(_('Settings'), prayer_letters_accounts_path, :class => "btn") %>
              <%= link_to(_('Sync Now'), sync_prayer_letters_accounts_path, :class => 'btn', data: {method: :get, confirm: _("This will replace your prayerletters.com list with what you have in MPDX. Are you sure that's what you'd like to do?")}) %>
              <%= link_to(_('Delete'), prayer_letters_account_path(current_account_list.prayer_letters_account), method: :delete, class: "btn", data: {confirm: _('Are you sure?')}) %>
            <% else %>
              <%= link_to(_('Enable'), '/auth/prayer_letters', :class => 'btn', data: {method: :get, confirm: _("This will replace your prayerletters.com list with what you have in MPDX. Are you sure that's what you'd like to do?")}) %>
            <% end %>
          </div>
        </td>
        </tr>
      </table>
    </div>
    <div class="network_connect">
      <table>
        <tr>
          <td class="identify">
            <div class="statusIcon statusIcon-disabled">&nbsp;</div>
            <div class="network_logo">
              <%= image_tag("logos/chalkline_logo.png", alt: 'Chalk Line') %>
            </div>
          </td>
          <td class="connections">
            <div class="network_button">
              <%= link_to(_('Send Paper Newsletter List'), send_to_chalkline_contacts_path, :class => 'btn', data: {method: :post, confirm: _("Would you like to have MPDX email your newsletter list to Chalk Line and redirect you to their order page?")}) %>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

