<% exhibit(contact, self).tap do |contact_exhibit| %>
  <div id="contentbody" class="withright" data-contact-id="<%= contact.id %>">
    <div class="contact_controls">
      <% contacts.index(contact_exhibit.to_model).tap do |current_index| %>
        <% if current_index %>
          <div id="contact_paging">
            <% if current_index > 0 %>
              <%= link_to('&lt;'.html_safe, contacts[current_index - 1], class: 'flatbtn', remote: false) %>
            <% end %>
            <span><%== _('Navigate contacts: <strong>%{index} of %{total}</strong>').localize % {index: current_index + 1, total: contacts.length} %></span>
            <% if current_index < contacts.length - 1 %>
              <%= link_to('&gt;'.html_safe, contacts[current_index + 1], class: 'flatbtn', remote: false) %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="actions">
        <%= link_to(_('Add Referrals'), add_referrals_contact_path(contact), remote: true, :class=> "btn smallbtn add_referrals no-new-tab") %>
        <%= link_to(_('Log Task'), new_task_path(contact_id: contact.id, completed: true), class: "btn smallbtn add_task", remote: true, data: {completed: true}) %>
        <%= link_to(_('Add Task'), new_task_path(contact_id: contact.id), class: "btn smallbtn add_task", data: {contact_id: contact.id}, remote: true) %>
        <%= link_to(_('Delete'), contact_path(contact), class: "btn smallbtn", method: :delete, data: { confirm: _("This contact will be set to 'Never Ask'. Is that what you want to do?") }) %>
      </div>
    </div>
    <div class="wpp">

      <div class="profiletop">

        <div class="avatar">
          <div class="avatar_wrapper"><%= image_tag(contact_exhibit.avatar(:large), class: "mid") %></div>
        </div>
        <div class="quickprofile">
          <h1><%= contact_exhibit %>
          <% if contact_exhibit.location.present? %><span class="contact_location"><%= contact_exhibit.location %></span><% end %>
          </h1>
          <% if contact_exhibit.status.present? %>
            <div class="contact_status">
              <%= _('Status: %{status}').localize % {status: contact_exhibit.status } %>
            </div>
          <% end %>
        </div>

        <div class="cols col_30">
          <table class="meta">
            <% if contact_exhibit.donor_ids.present? %>
              <tr>
                <td class="meta_name"><%= _('Donor ID') %></td>
                <td class="meta_data"><%= contact_exhibit.donor_ids %></td>
              </tr>
            <% end %>
            <% if contact_exhibit.pledge_as_currency.present? %>
              <tr>
                <td class="meta_name"><%= _('Commitment') %></td>
                <td class="meta_data"><%= contact_exhibit.pledge_as_currency %></td>
              </tr>
            <% end %>
            <% if contact_exhibit.send_newsletter.present? %>
              <tr>
                <td class="meta_name"><%= _('Newsletter') %> </td>
                <td class="meta_data"><%= contact_exhibit.send_newsletter %></td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="cols col_30">
          <table class="meta">
            <% if contact_exhibit.mailing_address.street.present? && !contact_exhibit.mailing_address.historic %>
                <tr>
                  <td class="meta_name">Address</td>
                  <td class="meta_data"><%= contact_exhibit.mailing_address.street %><br><%= contact_exhibit.mailing_address.city %>, <%= contact_exhibit.mailing_address.state %> <%= contact_exhibit.mailing_address.postal_code %><br><%= contact_exhibit.mailing_address.country %></td>
                </tr>
            <% end %>
            <% if contact.website.present? %>
              <tr>
                <td class="meta_name"><%= _('Website') %></td>
                <td class="meta_data"><%= contact_exhibit.website %></td>
              </tr>
            <% end %>
            <% if contact_exhibit.referrals_to_me.present? %>
              <tr>
                <td class="meta_name"><%= _('Referrer') %></td>
                <td class="meta_data"><%= contact_exhibit.referrer_links %></td>
              </tr>
            <% end %>
            <% if contact.tags.present? %>
              <tr>
                <td class="meta_name"><%= _('Tags') %> </td>
                <td class="meta_data">
                  <div class="tags">
                    <%= contact_exhibit.tag_links %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <div class="clr"></div>
        <div class="edit_btn_container">
          <%= link_to(_('Edit'), edit_contact_path(contact), :class=> "btn edit_contact_btn desired_action") %>
        </div>

      </div>

      <div id="contact-people" class="js-people">
        <h2><%= _('People') %>
          <small>
            <%= link_to(_('(Click here to merge duplicates)'), '#', class: 'js-merge_people') %>
            <%= link_to(_('(Cancel merging)'), '#', class: 'js-cancel_merge_people js-merge_related', style: 'display:none') %>
          </small>
        </h2>
        <% if contact_exhibit.people.any? %>
          <% contact_exhibit.people.each do |person| %>
            <%= render 'people/smallperson', person: person %>
          <% end %>
          <%= submit_tag(_('Merge checked people'), class: 'js-merge_related', style: 'display:none') %>
          <div id="person_merge_winner" style="display:none" title="<%= _('Pick the winner of the merge') %>">
            <%= _('Data from the "losers" will get copied to the "winner". No data will be lost by merging.') %>
            <%= form_tag(merge_contact_people_path(contact), id: 'merge_people_form', remote: true) do %>
              <%= hidden_field_tag :merge_people_ids %>
              <ul>
                <% contact.people.each do |person| %>
                  <li style="display:none" id="<%= "merge_winner_#{person.id}_li"%>" class="radiocheck">
                    <%= radio_button_tag('merge_winner', person.id) %>
                    <%= label_tag('merge_winner_'+person.id.to_s, person) %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </div>
        <% else %>
          <p><%= _('Currently No People') %></p>
        <% end %>
      </div>

      <div id="contact" class="tabgroup">
        <ul>
          <% (current_user.tab_order_by_location('contact') | Contact::TABS.keys).each do |tab_name| %>
            <li id="tabs_<%= tab_name %>"><a href="#<%= tab_name %>-tab"><%= _(Contact::TABS[tab_name]) %></a></li>
          <% end %>
        </ul>
        <div class="clr"></div>

        <div id="details-tab">
            <%= spinner(extra: 'details', visible: true) %>
            <div id="details"></div>
        </div>

        <div id="tasks-tab" ng-controller="taskShortListController" ng-init="init('contact','<%= contact.id %>')">
          <table class="list tasklist">
            <tbody class="tasks">
              <tr task="task" ng-repeat="task in tasks" id="task_{{task.id}}"></tr>
            </tbody>
          </table>
          <p ng-hide="tasks.length">No tasks found for this contact.</p>
        </div>
        <div id="history-tab" ng-controller="taskShortListController" ng-init="init('contactHistory','<%= contact.id %>')">
          <table class="list tasklist">
            <tbody class="tasks">
              <tr task="task" ng-repeat="task in tasks" id="task_{{task.id}}"></tr>
            </tbody>
          </table>
          <p ng-hide="tasks.length">No completed tasks found for this contact.</p>
        </div>
        <div id="referrals-tab">
          <%= spinner(extra: 'referrals', visible: true) %>
          <div id="referrals"></div>
        </div>
        <div id="notes-tab">
          <%= form_for contact, remote: true do |f| %>
            <%= f.submit _('Save Notes'), disabled: true %>
            <span class="saved_at">
              <%= begin
                    contact_exhibit.notes_saved_at
                  rescue; end
              %>
            </span>
            <br />
            <%= f.text_area :notes, rows: 10, class: 'contact_notes' %>
          <% end %>
        </div>

        <div id="social-tab">
          <%= spinner(extra: 'social', visible: true) %>
          <div id="social"></div>
        </div>
      </div>

      <div class="clr"></div>

      <h2><%= _('Donations') %></h2>
      <%= spinner(extra: 'donations', visible: true) %>
      <div id="donations"></div>

    </div>
  </div>
<% end %>
