<% exhibit(contact, self).tap do |contact_exhibit| %>
  <tr id="<%= dom_id(contact) %>" data-hook="contact">
    <td class="avatar">
      <%= link_to(image_tag(contact_exhibit.avatar, class: "avatar small"), contact_path(contact))%>

    </td>
    <td class="profile">
      <div class="key">
        <span class="name"><%= link_to(contact_exhibit, contact_path(contact), data: {name: contact_exhibit.to_s}) %>
        <% if contact.send_newsletter.present? %>
          <% if contact_exhibit.send_newsletter_error.present? %>
            <i class="fa fa-envelope icon-error-red" title="<%= _(contact.send_newsletter + ' - Error: ' + contact_exhibit.send_newsletter_error) %>"></i>
          <% else %>
            <i class="fa fa-envelope" title="<%= _(contact.send_newsletter) %>"></i>
          <% end %>
        <% end %>
        <% if contact.status == 'Partner - Special' %>
          <i class="fa fa-usd" title="<%= _('Partner - Special') %>"></i>
        <% end %>
        <% if contact.status == 'Partner - Financial' %>
          <i class="fa fa-<%= current_currency.downcase %>" title="<%= _('Partner - Financial') %>"></i>
          <i class="fa fa-<%= current_currency.downcase %>" title="<%= _('Partner - Financial') %>"></i>
        <% end %>
        </span>
        <div class="people">
          <%== contact.people.collect do |person|
            link_to(exhibit(person, self), person_path(person)) +
              (person.primary_phone_number ? " - #{exhibit(person.primary_phone_number, self)}" : '')
          end.join('<br />') %>
        </div>
        <span class="address"><%= exhibit(contact.primary_address, self).to_html if contact.primary_address %></span>
        <div class="tags">
          <%= contact_exhibit.tag_links %>
        </div>
      </div>
    </td>
    <td class="contact-tasks" nowrap="nowrap">
      <% if contact.status %>
        <%= contact_exhibit.status %><br />
      <% end %>
      <% if contact.pledge_amount.to_i > 0 %>
        <%= _('Commitment') %>: <%= contact_exhibit.pledge_as_currency %><br />
      <% end %>
      <%= link_to(tasks_path(contact_ids: contact.id)) do %>
        <%= _('Tasks') %>: <%= contact.uncompleted_tasks_count %><br />
      <% end %>
    </td>
    <td class="qaction" id="<%= dom_id(contact) %>_quick" data-id="<%= contact.id %>">
      <a href="#" class="btn smallbtn quick"><%= _('Quick') %></a>
      <ul style="display:none" class="quick_action_list">
        <li><%= link_to(_('Show'), contact_path(contact), :class => "none") %></li>
        <li><%= link_to(_('Edit'), edit_contact_path(contact), :class => "none") %></li>
        <li><%= link_to(_('Hide'), contact_path(contact), method: :delete, remote: true, :class => "none", data: {behavior: 'hide_contact'}) %></li>
      </ul>
    </td>
    <td class="checks"><input type="checkbox" name="contact_ids[]" value="<%= contact.id %>" /></td>
  </tr>
<% end %>
