<% exhibit(contact, self).tap do |contact_exhibit| %>
  <div id="contentbody" class="withright" data-contact-id="<%= contact.id %>">
    <div class="contact_controls">
      <% contacts.index(contact_exhibit.to_model).tap do |current_index| %>
        <% if current_index %>
          <div id="contact_paging">
            <% if current_index > 0 %>
              <%= link_to('&lt;'.html_safe, contacts[current_index - 1], class: 'flatbtn', remote: true) %>
            <% end %>
            <span><%== _('Navigate contacts: <strong>%{index} of %{total}</strong>') %{index: current_index + 1, total: contacts.length} %></span>
            <% if current_index < contacts.length - 1 %>
              <%= link_to('&gt;'.html_safe, contacts[current_index + 1], class: 'flatbtn', remote: true) %>
            <% end %>
          </div>
        <% end %>
      <% end %>

      <div class="actions">
        <%= link_to(_('Add Referrals'), add_referrals_contact_path(contact), remote: true, :class=> "btn smallbtn add_referrals") %>
        <%= link_to(_('Log Task'), new_task_path(contact_id: contact.id, completed: true), class: "btn smallbtn add_task", remote: true, data: {completed: true}) %>
        <%= link_to(_('Add Task'), new_task_path(contact_id: contact.id), class: "btn smallbtn add_task", data: {contact_id: contact.id}, remote: true) %>
        <%= link_to(_('Edit'), edit_contact_path(contact), :class=> "btn smallbtn") %>
        <%#= link_to(_('Quick'), "", :class => "btn smallbtn quick")%>
        <%= link_to(_('Delete'), contact_path(contact), :class=> "btn smallbtn", method: :delete, confirm: _("This contact will be set to 'Never Ask'. Is that what you want to do?")) %>
      </div>
    </div>
    <div class="wpp">

      <div class="profiletop">


        <div class="avatar">
          <div class="avatar_wrapper"><%= image_tag(contact_exhibit.avatar(:large), class: "mid") %></div>
        </div>
        <div class="quickprofile">
          <h1><%= contact_exhibit %></h1>
          <div class="metaset">
            <%= _('Donor ID: %{donor_id}') % {donor_id: contact_exhibit.donor_ids } %>
            <% if contact_exhibit.location.present? %>
              <br /><%= contact_exhibit.location %>
            <% end %>
          </div>
        </div>

        <div class="cols col_50">
          <table class="meta">
            <% if contact.status.present? %>
              <tr>
                <td class="meta_name"><%= _('Status') %></td>
                <td class="meta_data"><%= _(contact_exhibit.status) %></td>
              </tr>
            <% end %>
            <% if contact.send_newsletter.present? %>
              <tr>
                <td class="meta_name"><%= _('Newsletter') %></td>
                <td class="meta_data"><%= _(contact_exhibit.send_newsletter) %></td>
              </tr>
            <% end %>
            <% if contact.likely_to_give.present? %>
              <tr>
                <td class="meta_name"><%= _('Likelihood') %></td>
                <td class="meta_data"><%= _(contact_exhibit.likely_to_give) %></td>
              </tr>
            <% end %>
            <% if contact.people.present? %>
              <tr>
                <td class="meta_name"><%= _('People') %> </td>
                <td class="meta_data"><%= contact_exhibit.contact_info %></td>
              </tr>
            <% end %>
            <% if contact.pledge_amount.to_i > 0 %>
              <tr>
                <td class="meta_name"><%= _('Commitment') %> </td>
                <td class="meta_data"><%= contact_exhibit.pledge_as_currency %></td>
              </tr>
            <% end %>
            <% if contact.referrals_to_me.present? %>
              <tr>
                <td class="meta_name"><%= _('Referrer') %></td>
                <td class="meta_data"><%= contact_exhibit.referrer_links %></td>
              </tr>
            <% end %>
            <% if contact.church_name.present? %>
              <tr>
                <td class="meta_name"><%= _('Church') %></td>
                <td class="meta_data"><%= contact_exhibit.church_name %></td>
              </tr>
            <% end %>
            <% if contact.tags.present? %>
              <tr>
                <td class="meta_name"><%= _('Tags') %> </td>
                <td class="meta_data">
                  <div class="tags">
                    <%= contact_exhibit.tag_links %>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <%#<div class="cols col_30">%>
          <%#<table class="meta">%>

          <%#</table>%>
        <%#</div>%>
        <div class="clr"></div>

      </div>

      <div id="contact" class="tabgroup">
        <ul>
          <% (current_user.tab_order_by_location('contact') | Contact::TABS.keys).each do |tab_name| %>
            <li id="tabs_<%= tab_name %>"><a href="#<%= tab_name %>-tab"><%= _(Contact::TABS[tab_name]) %></a></li>
          <% end %>
        </ul>
        <div class="clr"></div>

        <div id="details-tab">
          <%= spinner(extra: 'details', visible: true) %>
          <div id="details"></div>
        </div>

        <div id="donations-tab">
          <%= spinner(extra: 'donations', visible: true) %>
          <div id="donations"></div>
        </div>

        <div id="tasks-tab">
          <%= spinner(extra: 'tasks', visible: true) %>
          <div id="tasks"></div>
        </div>
        <div id="history-tab">
          <%= spinner(extra: 'history', visible: true) %>
          <div id="history"></div>
        </div>
        <div id="referrals-tab">
          <h2><%= _('Referrals by this contact') %></h2>
          <ul>
            <% contact.contact_referrals_by_me.each do |r| %>
              <li><%= link_to(r.referred_to, r.referred_to, remote: true) %> on <%= l r.created_at.to_date %></li>
            <% end %>
          </ul>
          <% if contact.contact_referrals_by_me.empty? %>
            <%= _('There are no referrals by this contact, ') +
                link_to(_('Add some now'), add_referrals_contact_path(contact), remote: true, :class => "add_referrals") + "." %>
          <% end %>
        </div>
        <div id="notes-tab">
          <%= form_for contact, remote: true do |f| %>
            <%= f.submit _('Save Notes'), disabled: true %>
            <span class="saved_at">
              <%= contact_exhibit.notes_saved_at %>
            </span>
            <br />
            <%= f.text_area :notes, rows: 10, class: 'contact_notes' %>
          <% end %>
        </div>

        <div id="social-tab">
          <%= spinner(extra: 'social', visible: true) %>
          <div id="social"></div>
        </div>
      </div>

    </div>
  </div>
<% end %>
