<div class="duplicate_contacts">
  <% if @contact_sets.present? %>
      <h2><%=  _('Step 1 of 2: Merge duplicate contacts (i.e. giving units)') %></h2>
      <%= form_tag merge_contacts_path do %>
        <%= link_to(_('Select all duplicates'), '#', class: 'select_all') %>
        <% @contact_sets.each do |set| %>
          <div class="duplicate_set">
            <% set.each do |contact| %>
              <div class="contact">
                <%= contact %>
              </div>
            <% end %>
            <%= check_box_tag 'merge_sets[]', set.collect(&:id).join(',') %>
            <%= _('Merge these contacts') %><br />
            <%= link_to(_('These are not duplicates'), not_duplicates_contacts_path(ids: set.collect(&:id).join(',')),
                        remote: true, method: :put, data: {behavior: 'not_duplicates'}) %>
          </div>
        <% end %>
        <%= submit_tag _('Merge selected contacts'), class: 'btn desired_action' %>
      <% end %>
  <% elsif @people_sets.present? %>
      <h2><%=  _('Step 2 of 2: Merge duplicate people within contacts (i.e. within giving units)') %></h2>
      <%= form_tag merge_sets_people_path do %>
          <%= link_to(_('Select all duplicates'), '#', class: 'select_all') %>
          <% @people_sets.each do |dup| %>
              <div class="duplicate_set">
                <div class="contact-header "><%= dup.shared_contact %></div>
                <div class="person"><%= dup.person %></div>
                <div class="person"><%= dup.dup_person %></div>
                <%= check_box_tag 'merge_sets[]', "#{dup.person.id},#{dup.dup_person.id}" %>
                <%= _('Merge these people') %><br />
                <%= link_to(_('These are not duplicates'), not_duplicates_people_path(ids: "#{dup.person.id},#{dup.dup_person.id}"),
                            remote: true, method: :put, data: {behavior: 'not_duplicates'}) %>
              </div>
          <% end %>
          <%= submit_tag _('Merge selected people'), class: 'btn desired_action' %>
      <% end %>
  <% else %>
      <%= _("We weren't able to detect any duplicates on your account.") %>
  <% end %>
</div>
