<tr class="field email_field" data-behavior="field-wrapper">
  <td><%= builder.text_field :first_name %></td>
  <td><%= builder.text_field :spouse_name %></td>
  <td><%= builder.text_field :last_name %></td>
  <td><%= builder.text_field :street %></td>
  <td><%= builder.text_field :city %></td>
  <td><%= builder.text_field :state %></td>
  <td><%= builder.text_field :postal_code %></td>
  <td><%= builder.text_field :phone %></td>
  <td><%= builder.email_field :email %></td>
</tr>
