<aside id="leftmenu">
<ul>
  <li class="<%= 'selected' if params[:filter].blank? %>"><%= link_to(t('g.all'), contacts_path, class: "all") %></li>
  <li class="<%= 'selected' if params[:filter] == 'people' %>"><%= link_to(t('g.people'), contacts_path(filter: 'people'), class: "people") %></li>
  <li class="<%= 'selected' if params[:filter] == 'companies' %>"><%= link_to(t('g.companies'), contacts_path(filter: 'companies'), class: "companies") %></li>
  <li class="<%= 'selected' if @tags %>">
    <span class="tags"><%= _('Tags') %></span>
    <ul class="left_taglist tags">
      <li>
        <% current_account_list.contact_tags.each do |tag| 
          # toggle tag on / off
          tag_params = params.except(:action, :controller)
          if @tags && @tags.include?(tag)
            tag_params[:tags] = (@tags - [tag]).join(',')
          else
            tag_params[:tags] = (Array.wrap(@tags) + [tag]).join(',')
          end
          tag_params.delete(:tags) if tag_params[:tags].blank? %>

          <%= link_to(tag, tag_params, class: "tag #{'selected' if @tags && @tags.include?(tag)}")%>
        <% end %>
      </li>
    </ul>
  </li>
  <li>
    <%= form_tag '/contacts', method: :get do %>
      <span class="left_filters" onclick="return false;"><%= _('Filters') %></span>
      
      <ul class="left_filters">
        <li>
          <label><%= _('City') %></label>
          <%= select_tag :city, options_for_select([[_('-- Any --'), '']] + current_account_list.cities.select(&:present?), params[:city]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('State') %></label>
          <%= select_tag :state, options_for_select([[_('-- Any --'), '']] + current_account_list.states.select(&:present?), params[:state]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('Newsletter Recipients') %></label>
          <%= radio_button_tag :newsletter, '', params[:newsletter].blank? %> <%= _('-- Any --') %><br />
          <%= radio_button_tag :newsletter, 'all', params[:newsletter] == 'all' %> <%= _('All') %><br />
          <%= radio_button_tag :newsletter, 'address', params[:newsletter] == 'address' %> <%= _('With Mailing Address') %><br />
          <%= radio_button_tag :newsletter, 'email', params[:newsletter] == 'email' %> <%= _('With Valid Email') %>
        </li>

        <li>
          <label><%= _('Status') %></label>
          <%= select_tag :status, options_for_select([[_('-- Any --'), '']] + Contact.new.assignable_statuses.collect { |s| [_(s), s] }, params[:status]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('Likely To Give') %></label>
          <%= select_tag :likely, options_for_select([[_('-- Any --'), '']] + Contact.giving_likelihood_options, params[:likely]), multiple: true, size: 4 %>
        </li>

        <li>
          <label><%= _('Church') %></label>
          <%= select_tag :church, options_for_select([[_('-- Any --'), '']] + current_account_list.churches.select(&:present?), params[:church]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('Referrer') %></label>
          <%= select_tag :referrer, options_for_select([[_('-- Any --'), '']] + current_account_list.contacts.order('name').collect { |c| [c.name, c.id] }, params[:referrer]), multiple: true, size: 5 %>
        </li>
        <li>
        <%= submit_tag _('Filter') %><br />
        <%= link_to(_('Clear Filters'), contacts_path, style: 'font-size: 11px;color:red') %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>
</aside>

<div id="contentbody" class="withleft">
  <div class="filters">
    <%= text_field_tag :contact_name, '', autocomplete: 'off', placeholder: t('g.contact_filter_prompt'), class: 'search_filter' %>
    <div class="right">
      <%= link_to(_('Download CSV'), params.merge(format: 'csv'), class: "btn smallbtn") %>
      <%#= link_to("Actions", "Actions", class: "btn smallbtn") %>
      <%#<span class="btn smallbtn"><input type="checkbox" /></span>%>
    </div>
  </div>
  <div class="">
    <div class="padded">
      <table class="tablelist">
        <%= render partial: 'contact', collection: @contacts %>
      </table>
      <%= will_paginate @contacts %>

    </div>
  </div>
</div>
