<%= contact_instance = Contact.new %>
<script type="text/javascript" charset="utf-8">
  var contacts_json = <%= @all_contacts.collect { |c| {value: c.id, label: c.name} }.to_json.html_safe %>
</script>
<aside id="leftmenu">
<ul>
  <li class="<%= 'selected' if params[:filter].blank? %>"><%= link_to(_('All'), contacts_path, class: "all menu_item") %></li>
  <li class="<%= 'selected' if params[:filter] == 'people' %>"><%= link_to(_('People'), contacts_path(filter: 'people'), class: "people menu_item") %></li>
  <li class="<%= 'selected' if params[:filter] == 'companies' %>"><%= link_to(_('Companies'), contacts_path(filter: 'companies'), class: "companies menu_item") %></li>
  <li class="<%= 'selected' if @tags %>">
    <span class="tags menu_item"><%= _('Tags') %></span>
    <ul class="left_taglist tags">
      <li>
        <% current_account_list.contact_tags.each do |tag| 
          # toggle tag on / off
          tag_params = params.except(:action, :controller)
          if @tags && @tags.include?(tag)
            tag_params[:tags] = (@tags - [tag]).join(',')
          else
            tag_params[:tags] = (Array.wrap(@tags) + [tag]).join(',')
          end
          tag_params.delete(:tags) if tag_params[:tags].blank? %>

          <%= link_to(tag, tag_params, class: "tag #{'selected' if @tags && @tags.include?(tag)}")%>
        <% end %>
      </li>
    </ul>
  </li>
  <li>
    <%= form_tag '/contacts', method: :get do %>
      <span class="left_filters menu_item" onclick="return false;"><%= _('Filters') %></span>
      <ul class="left_filters">
        <li>
          <label><%= _('City') %></label>
          <%= select_tag :city, options_for_select([[_('-- Any --'), '']] + current_account_list.cities.select(&:present?), params[:city]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('State') %></label>
          <%= select_tag :state, options_for_select([[_('-- Any --'), '']] + current_account_list.states.select(&:present?), params[:state]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('Newsletter Recipients') %></label>
          <%= radio_button_tag :newsletter, '', params[:newsletter].blank? %> <%= _('-- Any --') %><br />
          <%= radio_button_tag :newsletter, 'all', params[:newsletter] == 'all' %> <%= _('All') %><br />
          <div>
            <%= radio_button_tag :newsletter, 'address', params[:newsletter] == 'address' %> <%= _('With Mailing Address') %>
            <%= tip(_('This filter will search for people who are set to receive your physical newsletter and have a mailing address'), style: 'float:right;margin-right:15px') %>
          </div>
          <div>
            <%= radio_button_tag :newsletter, 'email', params[:newsletter] == 'email' %> <%= _('With Email Address') %>
            <%= tip(_('This filter will search for people who are set to receive your email newsletter and have a valid email address'), style: 'float:right;margin-right:15px') %>
          </div>
        </li>

        <li>
          <label><%= _('Status') %></label>
          <%= select_tag :status, options_for_select([[_('-- Any --'), '']] + contact_instance.assignable_statuses.collect { |s| [_(s), s] }, params[:status]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('Likely To Give') %></label>
          <%= select_tag :likely, options_for_select([[_('-- Any --'), '']] + contact_instance.assignable_likely_to_gives, params[:likely]), multiple: true, size: 4 %>
        </li>

        <li>
          <label><%= _('Church') %></label>
          <%= select_tag :church, options_for_select([[_('-- Any --'), '']] + current_account_list.churches.select(&:present?), params[:church]), multiple: true, size: 5 %>
        </li>

        <li>
          <label><%= _('Referrer') %></label>
          <%= select_tag :referrer, options_for_select([[_('-- Any --'), '']] + @all_contacts.collect { |c| [c.name, c.id] }, params[:referrer]), multiple: true, size: 5 %>
        </li>
        <li>
        <%= submit_tag _('Filter') %><br />
        <%= link_to(_('Clear Filters'), contacts_path, style: 'font-size: 11px;color:red') %>
        </li>
      </ul>
    <% end %>
  </li>
</ul>
</aside>

<div id="contentbody" class="withleft">
  <div class="filters">
    <%= text_field_tag :contact_name, '', autocomplete: 'off', placeholder: _('Type to filter'), class: 'search_filter' %>
    <div class="right" id="contacts_actions">
      <%= link_to(_('Actions'), "#", class: "btn smallbtn actionbtn", style: 'display:none') %>
      <%= link_to(_('Merge'), '#', class: 'btn smallbtn', style: 'display:none', data: {behavior: 'merge'}) %>
      <%= hidden_field_tag :selected_ids %>
      <ul style="display:none" class="action_list">
        <li><%= link_to(_('Add Tag'), '#', class: 'none', data: {behavior: 'add_tag_to_list'}) %></li>
        <li><%= link_to(_('Remove Tag'), '#', class: 'none', data: {behavior: 'remove_tag_from_list'}) %></li>
        <li><%= link_to(_('Add Task'), '#', class: 'none', data: {behavior: 'add_task_to_list'}) %></li>
        <li><%= link_to(_('Edit Fields'), '#', class: 'none', data: {behavior: 'bulk_edit'}) %></li>
      </ul>

      <%= link_to(_('Download CSV'), params.merge(format: 'csv'), class: "btn smallbtn") %>

      <span style="margin-right:3px;margin-left:5px"><input type="checkbox" class="checkall" /></span>
    </div>
  </div>
  <div class="">
    <div class="padded">
      <table class="tablelist">
        <tr id="select_more" style="display:none">
          <td colspan="3">
            <span id="select_all_prompt">
              <%= _('All <strong>%{this_page}</strong> conversations on this page are selected. <a data-behavior="select_all">Select all <strong>%{total}</strong> contacts</a>') % {this_page: @contacts.length, total: @all_contacts.length} %>
            </span>
            <span id="clear_selection_prompt" style="display:none">
              <%= _('All <strong>%{total}</strong> contacts are selected. <a data-behavior="clear_selection">Clear selection</a>') % {total: @all_contacts.length} %>
            </span>
          </td>
        </tr>
        <%= render partial: 'contact', collection: @contacts %>
      </table>
      <%= will_paginate @contacts %>

    </div>
  </div>
</div>

<%= render 'tag_modals' %>
<%= render 'task_modal' %>
<%= render 'edit_modal' %>
<%= render 'merge_modal' %>
