<div id="contact_drawer">
  <div class="filters">
    <% if current_user.contacts_filter[current_account_list.id].present? %>
      <span class="filtered_message">
        <%= _('Contacts List Filtered') %>
        <%= link_to(_('Reset Filters'), contact_path(@contact, clear_filter: true))  %>
      </span>
    <% end %>
    <%= text_field_tag :contact_name, '', autocomplete: 'off', placeholder: _('Type to search'), class: "search_filter" %>
  </div>
  <ul class="contact_list">
    <% @filtered_contacts.each do |contact| %>
      <li data-hook="contact"><%= link_to(truncate(contact.to_s, :length => 30), contact, data: {name: contact.to_s, id: contact.id}, class: contact.id == @contact.id ? 'active' : '', remote: true) %></li>
    <% end %>
  </ul>
</div>

<%= render 'contact_body', contacts: @filtered_contacts, contact: @contact %>

<div id="referrals_modal" style="display:none" title="<%= _('Add Referrals') %>">
  <%= spinner(visible: true) %>
</div>

<%= render 'tasks/results_modal' %>
<task-followup-dialog id="task-followup-dialog"></task-followup-dialog>
