<% @contact = exhibit(@contact, self) if @contact %>
<% unless params[:page] %>
  <% if @start_date %>
    <div>
      <div style="float:left"><%= link_to(_('<< Previous Month'), donations_path(start_date: @start_date - 1.month)) %></div>
      <% unless @end_date >= Date.today %>
        <div style="float:right"><%= link_to(_('Next Month >>'), donations_path(start_date: @start_date + 1.month)) %></div>
      <% end %>
    </div>
    <div class="clr"></div>
    <h2><%= _('Donations for %{start_date} through %{end_date}').localize % {start_date: l(@start_date), end_date: l(@end_date)} %></h2>
    <%= link_to('<i class="fa fa-plus-square"></i> '.html_safe + _('Add a donation'), new_donation_path, remote: true, class: 'no-new-tab') %>
    <br /><br />
  <% end %>
<table class="tablelist donations" id="donations_table">
  <thead>
    <tr>
      <th class="date">Date</th>
      <% unless @contact %>
        <th>Donor</th>
      <% end %>
      <th class="right">Amount</th>
      <% if current_account_list.multiple_designations %>
        <th>Designation</th>
      <% end %>
      <th><%= _('Method') %></th>
      <th><%= _('Motivation') %></th>
      <%#<th class="appeal">Appeal</th>%>
      <th></th>
    </tr>
  </thead>
  <tbody>
<% end %>

<%= render donations %>

<% unless params[:page] %>
  </tbody>
  <% unless @contact %>
    <tfoot>
      <tr>
        <td></td>
        <td class="right"><%= _('Total Donations (%{count}):').localize % {count: donations.length} %></td>
        <td class="right"><%= number_to_current_currency(donations.sum(&:amount)) %></td>
        <td colspan="4"></td>
      </tr>
    </tfoot>
  <% end %>
</table>
<% end %>

<div id="js-edit_donation" style="display:none" title="<%= _('Edit Donation') %>">
  <%= spinner(extra: 'edit-donation') %>
  <div class="form_wrapper"></div>
</div>

