<% exhibit(donation, self).tap do |donation_exhibit| %>
<tr id="<%= dom_id(donation) %>">
  <td class="date"><%= l donation_exhibit.donation_date %></td>
  <% unless @contact %>
    <td><%= link_to(donation.donor_account.contacts.first.name, donation.donor_account.contacts.first) %></td>
  <% end %>
  <td class="right"><%= donation_exhibit.tendered_amount %></td>
  <% if current_account_list.multiple_designations %>
    <td><%= donation.designation_account.designation_number %></td>
  <% end %>
  <td><%= donation_exhibit.payment_method %></td>
  <td><%= donation_exhibit.motivation %></td>
  <%#<td class="appeal">Dinner</td>%>
  <td><%= link_to('<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_donation_path(donation, contact_id: @contact.try(:id)), remote: true) %></td>
</tr>
<% end %>
