<% @contact = exhibit(@contact, self) if @contact %>
<% multiple_designations = current_account_list.designation_accounts.length > 1 ? true : false %>
<% unless params[:page] %>
  <% if @start_date %>
    <div>
      <div style="float:left"><%= link_to(_('<< Previous Month'), donations_path(start_date: @start_date - 1.month)) %></div>
      <% unless @end_date >= Date.today %>
        <div style="float:right"><%= link_to(_('Next Month >>'), donations_path(start_date: @start_date + 1.month)) %></div>
      <% end %>
    </div>
    <div class="clr"></div>
    <h2><%= _('Donations for %{start_date} through %{end_date}') % {start_date: l(@start_date), end_date: l(@end_date)} %></h2>
  <% end %>
<table class="tablelist donations" id="donations_table">
  <thead>
    <tr>
      <th class="date">Date</th>
      <% unless @contact %>
        <th>Donor</th>
      <% end %>
      <th class="right">Amount</th>
      <% if multiple_designations %>
        <th>Designation</th>
      <% end %>
      <th><%= _('Method') %></th>
      <th><%= _('Motivation') %></th>
      <%#<th class="appeal">Appeal</th>%>
    </tr>
  </thead>
  <tbody>
<% end %>
    <% donations.map {|d| exhibit(d, self)}.each do |donation| %>
      <tr id="<%= donation.id %>">
        <td class="date"><%= l donation.donation_date %></td>
        <% unless @contact %>
          <td><%= donation.donor_account.name %></td>
        <% end %>
        <td class="right"><%= donation.tendered_amount %></td>
        <% if multiple_designations %>
          <td><%= donation.designation_account.designation_number %></td>
        <% end %>
        <td><%= donation.payment_method %></td>
        <td><%= donation.motivation %></td>
        <%#<td class="appeal">Dinner</td>%>
      </tr>
    <% end %>
<% unless params[:page] %>
  </tbody>
  <% unless @contact %>
    <tfoot>
      <tr>
        <td></td>
        <td class="right"><%= _('Total Donations (%{count}):') % {count: donations.length} %></td>
        <td class="right"><%= number_to_current_currency(donations.sum(&:amount)) %></td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  <% end %>
</table>
<% end %>

