<%= form_for donation, remote: true do |f| %>

  <% if donation.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% donation.errors.each do |attribute, error| %>
          <% next if attribute.to_s.include?('.') %>
          <li><%= donation.errors.full_message(attribute, error) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :donation_date, _('Date') %>
    <%= f.date_select :donation_date %>
  </div>

  <div class="field">
    <%= f.label :amount, _('Amount') %>
    <%= f.text_field :amount %>
  </div>

  <div class="field">
    <%= link_to(_('Click here to delete this donation'), donation_path(donation), method: :delete, class: 'red delete_donation', data: {confirm: 'Are you sure?'}, remote: true) %>
  </div>

<% end %>