<% if @items.present? %>
  <% unless params[:page] %>
  <table class="tablelist social" id="social_stream_table">
    <tbody>
  <% end %>
      <% @items.each do |item| %>
        <tr>
          <td class="image"><%= link_to(image_tag("https://graph.facebook.com/#{item.from.id}/picture?type=square"), "http://facebook.com/profile.php?id=#{item.from.id}", target: '_blank') %></td>
          <td>
            <p>
              <%= link_to(image_tag('soc_facebook.gif', width: 16, height: 16), "http://facebook.com/profile.php?id=#{item.from.id}", target: '_blank') %><b class="social_from"><%= item.from.name %></b> 
              <%= _('to') + " <b>#(item.to.name}</b>" if item.to %> <%= _('on') %> <%= l(item.created_time.to_datetime) %>
            </p>
            <p><%= auto_link(item.body, target: '_blank') %></p>

            <% if item.picture %>
              <br /><%= link_to(image_tag(item.picture), item.link, html: {target: '_blank'}) %>
            <% end %>

 <!--            <ul class="socialicons">
            	<li>
            		<a href="#"><%= image_tag('like.png', width: 16, height:16) %></a>
            	</li>
            	<li>
            		<a href="#"><%= image_tag('avatar_16x16.png', width: 16, height:16) %></a>
            	</li>
             	<li>
            		<a href="#"><%= image_tag('check.png', width: 16, height:16) %></a>
            	</li>
            	<li>
            		<a href="#"><%= image_tag('refresh.png', width: 16, height:16) %></a>
            	</li>
            </ul> -->
           <!--
            <ul class="socialcommentbox">
            	<li>
            		<%= image_tag('comments.png', width: 16, height: 16) %>
            		<p><b class="social_from">Josh Starcher</b> on <%= l(item.created_time) %></p>
            		<p>Hey Joshy boo-boo-bear!</p>
            	</li>
            	<li>
            		<%= image_tag('comments.png', width: 16, height: 16) %>
            		<p><b class="social_from">Josh Starcher</b> on <%= l(item.created_time) %></p>
            		<p>Hey Joshy boo-boo-bear!</p>
            	</li>
            	<li>
            		<form>
            			<textarea></textarea>
            			<input type="button" id="" value="Post Comment"/>
            		</form>

            	</li>

            </ul> -->


          </td>
        </tr>
      <% end %>
  <% unless params[:page] %>
    </tbody>
  </table>
  <% end %>
<% else %>
  <% if @bad_facebook_token %>
    <%= link_to(_('Click here to link your facebook account.'), '/auth/facebook') %>
  <% elsif @items.nil? %>
    <%= link_to(_("You haven't linked this contact to any of your facebook friends. Click here to add a facebook account."), edit_contact_path(@contact)) %>
  <% else %>
    <%= _("This contact doesn't have any recent facebook posts") %>
  <% end %>
<% end %>
