<div class="network_connections">
  <% current_user.send("#{provider}_accounts".to_sym).each do |account| %>
    <div class="account_single <%= 'error_element' if account.try(:valid_credentials) == false %>" 
         data-behavior="account" id="<%= provider%>-account-<%= account.id %>">
      <div class="actions">
        <% if provider == 'organization' %>
          <%= link_to(_('edit'), edit_person_organization_account_path(account, format: :js), class: "edit ico ico_edit no-new-tab",
                      data: {behavior: "edit_#{provider}_account"}) %>
        <% else %>
          <%= link_to(_('delete'), account_path(account, provider: provider), method: :delete, :class => "inlineaction delete",
                      data: { confirm: _('Are you sure you want to remove this connection?') }) %>
        <% end %>
      </div>
      <span class="account_name"><%= account %></span>

      <% case provider %>
      <% when 'google' %>
        <% if $rollout.active?(:google_integration, current_account_list) %>
          <% account.google_integration(current_account_list).tap do |google_integration| %>
            <% link_text = _('Configure synchronization with this connection') %>
            <% if google_integration %>
              <%= link_to(link_text, google_integration_path(google_integration)) %>
            <% else %>
              <%= link_to(link_text, google_integrations_path(google_account_id: account.id), method: :post) %>
            <% end %>
          <% end %>
        <% end %>
      <% when 'facebook' %>
        <% if account.downloading? %>
          <%= _('Contacts are currently being imported') %>
        <% else %>
          <%= render 'import_contacts_form', provider: provider, account: account %>
        <% end %>

      <% end %>

    </div>
  <% end %>
</div>
