<div id="tag_modal" title="<%= _('Add a tag') %>" style="display:none">
  <%= form_for ActsAsTaggableOn::Tag.new, url: tags_path do |f| %>
    <%= hidden_field_tag 'contact_ids' %>
    <p><%= _('Choose an existing tag, or create a new tag:') %></p>
    <ul>
      <% current_account_list.contact_tags.each do |tag| %>
        <li><a href="#" class="tag" data-name="<%= tag %>"><%= tag %></a></li>
      <% end %>
    </ul>
    <%= f.label :name, _('New Tag') %>
    <%= f.text_field :name %>
  <% end %>
</div>
