<% wizard_scope = wizard_path[1..-1].sub('/','.') %>
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <title>Mpdx - <%= _('Setup') %></title>
    <%= stylesheet_link_tag    "setup", :media => "all" %>
    <%= stylesheet_link_tag    "errors", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'google_analytics' %>
  </head>
  <body>

    <div class="setupwrap">

      <div id="body">
        <header id="global" class="outer">
          <div id="logo"><%= link_to("MPDX", "MPDX") %></div>
          <div class="links">
            <div class="section"><%= current_user %></div>
            <div class="section"><%= link_to(_('Log out'), "/logout", :class => "btn btndark") %></div>
          </div>
        </header>

        <div id="callout">
          <div class="in">
            <% if wizard_scope == 'setup.org_accounts' %>
              <%= _('Welcome to MPDX!') %> <br/>
              <span class="small"><%= _('Connect to your organization') %></span>
            <% else %>
              <%= _('Sweet! Your Account is activated!') %> <br/>
              <span class="small"><%= _('Just need to connect some social accounts') %></span>
            <% end %>
          </div>
        </div>
        <div id="content">

          <% if notice %>
            <p class="notice"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert"><%= alert %></p>
          <% end %>

          <%= yield %>

        </div>
      </div>

      <aside id="right" style="display: none;">

        <div class="modcontent">
          <% if wizard_scope == 'setup.org_accounts' %>
            <%= _("To use MPDX, you need to connect to your organization's donation system. If you raise funds through more than one organization, you can connect to multiple accounts.") %>
          <% else %>
            <%== _("<p>Easily connect all of your contacts, calendars, communications and social conversations. MPDX will automatically identify contact's social profiles on Facebook, LinkedIn, and </p>
                    <p>Twitter so that you connect, listen, and engage with your minitry partners. </p>") %>
          <% end %>
        </div>

      </aside>

    </div>

  </body>
</html>
